@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');
header h1{
	line-height: 200%;
	margin: 0;
	color: white;
}
header {
	background-color: #00195C;
	color: #ffffff; 
	text-align: center;
	padding-top: 20px;
	background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.logo{
	max-width: 100%;
	height: auto;
	padding-top: 15px;
}
.home-hero{
	background-image: url(images/hero-image.jpg);
	height: 300px;
	background-size: cover;
	background-position: top center;
}
.home-hero H1{
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	padding-top: 115px;
	font-size: 3.5em;
	font-weight: normal;
	margin: 0;
}
.home-hero h2{
	border-bottom: 2px solid #1c2995;
	display: flex;
	padding: 5px;
	font-size: 2em;
	font-weight: 100;
}
.home-hero h3{
	font-size1.7
}
nav a{
	font-weight: bold;
	background-color: #eeeeee;
	text-align: center;
	line-height; 200%;
	text-decoration: none;
}
body{
	background-color:#FFFFFF;
	font-family: "Open Sans", sans-serif;
	margin: 0;
}
header{
	text-align: center;
}
nav{
	text-align: center;
	text-decoration: none;
}
main{
	max-width: 1000px;
	margin: 20px auto;
	padding: 10px;
}
h1, h2, h3{
	font-family: "Play", sans-serif;
	color: #00195c;
}
footer{
	max-width: 1000px;
	margin: 30px auto;
	padding: 10px;
	font-style: italic;
	text-align: center;
}