@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Oooh+Baby&display=swap');

body{
	background-color:pink;
	font-family: "Oooh Baby", cursive;
 }
 header{
 	text-align: center;
 }
 nav{
 	text-align: center;
 }
 main{
 	max-width: 1000px;
 	margin: 20px auto;
 	padding: 10px; 
 	 }
 footer{
 	text-align:center;
 }
h1, h2, h3{
	 font-family: "Emilys Candy", serif;
}

