<!DOCTYPE html>
<html lang="en"> 
	<head>
	<meta charset= utf-8>
	<title>Website Template</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
		<header>
		<h1>Website Header</h1>
		</header>
			
	<nav>
		<a href="index.html">Home</a>&nbsp&nbsp
		<a href="contact.html">Contact</a>&nbsp&nbsp
		<a href="about.html">About</a>
	</nav>
	
	<main>
		<p>Main Section</p>
		</main>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque dignissim enim sit amet venenatis urna cursus eget nunc. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Iaculis nunc sed augue lacus. Egestas tellus rutrum tellus pellentesque eu tincidunt. Mi tempus imperdiet nulla malesuada. Viverra nam libero justo laoreet sit amet. Morbi quis commodo odio aenean sed. Nulla facilisi cras fermentum odio eu. Aliquet nibh praesent tristique magna sit. Arcu risus quis varius quam quisque id diam. Diam in arcu cursus euismod quis viverra. Amet est placerat in egestas erat imperdiet sed euismod nisi. Malesuada bibendum arcu vitae elementum curabitur vitae. Ipsum nunc aliquet bibendum enim. Accumsan sit amet nulla facilisi morbi.</p>
	<footer>
		<a href="https://anokaramsey.edu">Anoka Ramsey Community College</a><br>
		<a href="mailto:valerieurban@gmail.com">Email Me!</a><br>
		<small>&copy; 2026 Website Template, All rights reserved.</small>
	</footer>
</body>
</html>
